 <link rel="stylesheet" href="public/css/intro.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
<body>
 <main>
      <div class="container">
        <img src="public/assets/board.png" alt="illustration" />
        <div class="text">
          <h1 class="heading">Boom Video Conferencing</h1>
          <p class="description" style="font-size:large;">
            Boom provides tutoring and other educational support via a remote platform designed specifically to engage and captivate learners and empower educators.
          </p>
          <div class="button-container">
            <a id="Login" href="/signup"><button style="font-size:medium;">GET STARTED</button></a>
            <span class="sub-text" style="font-size: 15px;">Already using Boom? <a id="Login" href="/login"> <span class="cta">Sign in</span></a></span>
          </div>
        </div>
      </div>
    </main>
</body>
{{!-- <h1>Introduction</h1>
<p>Introduction</p>

<a id="Login" href="/login">Login</a> --}}